
.report-box {
/*	background-color: grey;*/
	padding: 1px;
	width: 100%;
/*	height: 200px;*/
	/*float: left;*/
	
}

div {
	border-style: solid;
	border-width: 1px;
	border-color: yellow;
	margin: 5px;
}

.wind-dot-container {
	position: relative;
	width: 200px;
	height: 200px;
}

.wind-dot-arrow {
	position: absolute;
	width: 200px;
	height: 200px;
}

.wind-dot-circle {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: orange;
}

.wind-dot-point {
	position: absolute;
  top:0px;
  right:0px;
	width: 100px;
	height: 100px;
	background-color: orange;
	z-index: 5;
}

.wind-dot-data {
	text-align: center;
	position: absolute;
	z-index: 10;
	width: 180px;
	left: 50%;	
  margin-left: -90px;
	top: 50%;
  height: 150px;
  margin-top: -62px;

}

.windspeed {
	font-size: 44px;
	font-weight: bold;
	color: black;
}

.direction {
	padding-top: 15px;
	font-size: 30px;
	color: grey;
}

.time {
	font-size: 20px;
}



